// Import custom fonts from Google Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700");

// Bulma customizations
$primary: #3ca2d5;
$link: $primary;
$column-gap: 1.25rem;
$footer-padding: 2rem 1.5rem 2rem;
$family-sans-serif: "Nunito", sans-serif;

@import "~bulma/bulma.sass";

a.brand-facebook {
  color: #4267b2;
}

a.brand-instagram {
  color: #f77737;
}

a.brand-spotify {
  color: #1ed760;
}

a.brand-youtube {
  color: #ff0000;
}

p.concert-description {
  white-space: pre-wrap; // Display newline characters as line breaks
}
